@font-face {
  font-family: 'Ovo';
  font-style: normal;
  font-weight: 400;
  src: local('Ovo'), url(http://themes.googleusercontent.com/static/fonts/ovo/v4/1cRrj96WT3He974w7Euhdw.woff) format('woff');
}
