<script src="/static/site2/jquery_005.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
		$("#CommentForm").submit(function() {
			var url = "/cotasluademel_mensagem"
		    $.ajax( { 	type: "POST",
		           		url: url,
		           		data: $("#CommentForm").serialize(),
		           			success: function(html)
		           			{
		                        $("#content").html(html);
		           			}
		         	});
		    $("#confirmar").attr("disabled", "true");
		    $("#confirmar").attr("value", "enviando");
		    $("#loader").removeAttr("style");
		    return false;
		});
    });
</script>

<div id="content" class="content">
	<div class="pages_title">
		<h2>Cotas de <span>Lua de Mel</span></h2>
	</div>
	</br></br></br>

	<div class="widget_area_home_three">     
		</br></br></br>
		
		<div class="left_full">
			<p><center><h1>Mensagem e Pagamento</h1></center></p>
		 	{% for entry in entries %}
				<p> Você escolheu {{ cotas }} cota(s) de R$ {{ entry.vlr_cota }} do presente </p>
				<p> <h2><strong> {{ entry.descr }} </strong></h2> </p>
				<p> Valor total do Presente: <h2><strong> R$ {{ vlr_total }}</strong></h2> </p>
			{% endfor %}
		</div>

		<div class="left23">
		<div class="post">
			<div id="post-23" class="post-23 page type-page status-publish hentry">
				<div class="pageentry">
					<!--
					<h3>Após o envio da sua mensagem, será apresentada a conta para que seja feito o depósito ou transferência.</h3>
					-->
					<h3>
						<p>Atenção: O pagamento deve ser realizado por depósito bancário.</p>
						<p>Confirmando, você receberá os dados da conta bancária e ficará responsável pelo depósito.</p>
					</h3>
				</div>	

				<!-- Contact form -->
				<div class="form_content">
					<h3 class="form_subtitle">Mensagem aos Noivos</h3>
					<div id="Note"></div>
					<div class="form">
						<!--
						<form class="cmxform" id="CommentForm" method="post" action="{{ url_for('cotasluademel_mensagem') }}" accept-charset="utf-8">
						-->
						<form class="cmxform" id="CommentForm" method="post" name="form" action="" accept-charset="utf-8">
							<div class="form_row">
								<label for="ContactName" class="overlabel">Nome</label>
								<input id="ContactName" name="ContactName" class="form_input required">
							</div>                            
							<div class="form_row">
								<label for="ContactEmail" class="overlabel">E-Mail</label>
								<input id="ContactEmail" name="ContactEmail" class="form_input required email">
							</div>                             
							<div class="form_row">
								<label for="ContactComment" class="overlabel">Mensagem</label>
								<textarea id="ContactEmail" name="ContactComment" class="form_textarea required" rows="10" cols="4"></textarea>
							</div>
							<div class="form_row">
								<input id="confirmar" name="submit" class="form_submit_contact" id="submit" value="Confirmar" type="submit">
								<input class="" name="to" value="email@yahoo.com.br" type="hidden">
			                   	<input class="" name="presente" value="{{ descr }}" type="hidden">
			                   	<input class="" name="cotas" value={{ cotas }} type="hidden">
			                   	<input class="" name="id" value={{ id }} type="hidden">
								<input class="" name="vlr_total" value={{ vlr_total }} type="hidden">
			                   	<input class="" name="subject" value="Contact subject title" type="hidden">
			                   	
			                   	<div id="loader" style="display:none;">
									<img src="/static/images/prettyPhoto/light_square/loader.gif" alt="Loading..." id="LoadingGraphic">
								</div>
							
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="name_divider">MF</div>

</div>