<div id="content" class="content">
	<div class="pages_title">
		<h2>Cotas de <span>Lua de Mel</span></h2>
	</div>

<!--
	<div class="left23">
		<div class="post">
			<div id="post-17" class="post-17 page type-page status-publish hentry">
				<div class="pageentry">
					</br>
					<p>	Como sabem, nosso lar já está formado!!! </p>
					<p> Para quem quiser nos presentear, iremos disponibilizar Cotas da Lua de Mel.</p>
				</div>
			</div>
		</div>
	</div>
-->

	</br>	</br>	</br>
<div></div>
	<div class="widget_area_home_three">     

		<div class="left15">
			<div class="tweet">
				<div class="center_things">
					<img src="/static/site2/images/luamel/luamel1.jpg" alt="">
				</div>
				</br></br>
				<p><strong><center>Passagem de avião</center></strong></p>
				</br></br></br></br></br></br>
				<p><strong><center>R$1000,00</center></strong></p>
				<a href="#" class="more_about" name="elaele">Presentear</a>
			</div>
		</div>
		<div class="left15">
			<div class="tweet">
				<div class="center_things">
					<img src="/static/site2/images/luamel/luamel1.jpg" alt="">
				</div>
				</br></br>
				<p><strong><center>Passagem de avião</center></strong></p>
				</br></br></br></br></br></br>
				<p><strong><center>R$1000,00</center></strong></p>
				<a href="#" class="more_about" name="elaele">Presentear</a>
			</div>
		</div>
		<div class="left15">
			<div class="tweet">
				<div class="center_things">
					<img src="/static/site2/images/luamel/luamel1.jpg" alt="">
				</div>
				</br></br>
				<p><strong><center>Passagem de avião</center></strong></p>
				</br></br></br></br></br></br>
				<p><strong><center>R$1000,00</center></strong></p>
				<a href="#" class="more_about" name="elaele">Presentear</a>
			</div>
		</div>
		<div class="left15">
			<div class="tweet">
				<div class="center_things">
					<img src="/static/site2/images/luamel/luamel1.jpg" alt="">
				</div>
				</br></br>
				<p><strong><center>Passagem de avião</center></strong></p>
				</br></br></br></br></br></br>
				<p><strong><center>R$1000,00</center></strong></p>
				<a href="#" class="more_about" name="elaele">Presentear</a>
			</div>
		</div>
		<div class="left15">
			<div class="tweet">
				<div class="center_things">
					<img src="/static/site2/images/luamel/luamel1.jpg" alt="">
				</div>
				</br></br>
				<p><strong><center>Passagem de avião</center></strong></p>
				</br></br></br></br></br></br>
				<p><strong><center>R$1000,00</center></strong></p>
				<a href="#" class="more_about" name="elaele">Presentear</a>
			</div>
		</div>
		
		<div class="left15">
			<div class="tweet">
				<div class="center_things">
					<img src="/static/site2/images/luamel/luamel1.jpg" alt="">
				</div>
				</br></br>
				<p><strong><center>Passagem de avião</center></strong></p>
				</br></br></br></br></br></br>
				<p><strong><center>R$1000,00</center></strong></p>
				<a href="#" class="more_about" name="elaele">Presentear</a>
			</div>
		</div>
		<div class="left15">
			<div class="tweet">
				<div class="center_things">
					<img src="/static/site2/images/luamel/luamel1.jpg" alt="">
				</div>
				</br></br>
				<p><strong><center>Passagem de avião</center></strong></p>
				</br></br></br></br></br></br>
				<p><strong><center>R$1000,00</center></strong></p>
				<a href="#" class="more_about" name="elaele">Presentear</a>
			</div>
		</div>
		<div class="left15">
			<div class="tweet">
				<div class="center_things">
					<img src="/static/site2/images/luamel/luamel1.jpg" alt="">
				</div>
				</br></br>
				<p><strong><center>Passagem de avião</center></strong></p>
				</br></br></br></br></br></br>
				<p><strong><center>R$1000,00</center></strong></p>
				<a href="#" class="more_about" name="elaele">Presentear</a>
			</div>
		</div>
		<div class="left15">
			<div class="tweet">
				<div class="center_things">
					<img src="/static/site2/images/luamel/luamel1.jpg" alt="">
				</div>
				</br></br>
				<p><strong><center>Passagem de avião</center></strong></p>
				</br></br></br></br></br></br>
				<p><strong><center>R$1000,00</center></strong></p>
				<a href="#" class="more_about" name="elaele">Presentear</a>
			</div>
		</div>
		<div class="left15">
			<div class="tweet">
				<div class="center_things">
					<img src="/static/site2/images/luamel/luamel1.jpg" alt="">
				</div>
				</br></br>
				<p><strong><center>Passagem de avião</center></strong></p>
				</br></br></br></br></br></br>
				<p><strong><center>R$1000,00</center></strong></p>
				<a href="#" class="more_about" name="elaele">Presentear</a>
			</div>
		</div>
				
	</div>
</div>

	<div class="name_divider">MF</div>

</div>