<!--
<script src="/static/site2/jquery_005.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
		$("#menu-item-14zzzzz a").click( function() {
            var page_name = $(this).attr('name');
            get_page(page_name);
      	});
		$("#CommentFormzzzzz").validate({
			submitHandler: function(form) {
				// form is valid, submit it
				ajaxContact(form);
				return false;
			}
		});
    });
    function get_page1(page) {
        $.ajax({    url: "/" + page,
                    cache: false,
                    success: function(html){
                        $("#content").html(html);
                    }
                });
    }
  </script>
-->
<div id="content" class="content">
	<div class="pages_title">
		<h2>Cotas de <span>Lua de Mel</span></h2>
	</div>
	</br></br></br>

	<div class="widget_area_home_three">     
		</br></br></br>
		
		<div class="left_full">
			<p><center><h1>Agradecimento</h1></center></p>
			<p>
				<h2>
					<strong> {{ name }}, você escolheu presentear com {{ cotas }} cotas(s) do presente 
							 "{{ presente }}" no valor de R$ {{ vlr_total }} para 
							Maristela Trojahn e Fábio André Frantz.
					</strong>
				</h2>
			</p>
			<p> <h2><strong> A efetivação da compra está condicionada ao depósito bancário. </strong></h2> </p>
	        <div class="left13 fdivider"> 
				<div class="widget-categories">
					<div class="widget_post">					
						<p> <h3><u>Os dados para depósito são: </u></h3></p>
						</br></br>
						<p> Banco: Banco do Brasil </p>
						<p> Agência: 4899-2 </p>
						<p> Conta Corrente: 7387-3 </p>
						<p> Titular: Maristela Trojahn </p>
						<p> CPF: 996.688.580-34 </p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="name_divider">MF</div>

</div>