
<script src="/static/site2/jquery_005.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
		$("#menu-item-14 a").click( function() {
            var page_name = $(this).attr('name');
            get_page(page_name);
      	});
		$("#CommentForm").validate({
			submitHandler: function(form) {
				// form is valid, submit it
				ajaxContact(form);
				return false;
			}
		});
    });
    function get_page(page) {
        $.ajax({    url: "/" + page,
                    cache: false,
                    success: function(html){
                        $("#content").html(html);
                    }
                });
    }
  </script>

<div id="content" class="content">
	<div class="pages_title">
		<h2>Cotas de <span>Lua de Mel</span></h2>
	</div>
	</br></br></br>

	<div class="widget_area_home_three">     
		</br></br></br>
		
		<div class="left_full">
			<p><center><h1>Agradecimento</h1></center></p>

			<p> <h2><strong> Sua mensagem foi encaminhada com sucesso. </strong></h2> </p>
			<p> <h2><strong> Agradecemos a sua mensagem de coração !!! </strong></h2> </p>
			
	        <div class="left13 fdivider"> 
				<div class="widget-categories">
				<div class="widget_post">					
					<p> <h3><u>Depósito ou Transferência para: </u></h3></p>
					<p> Nome: Maristela Trojahn </p>
					<p> Banco: Banco do Brasil </p>
					<p> Agência: </p>
					<p> Conta Corrente: </p>
					<p> CPF: </p>
				</div>
				<div class="widget_post">
					<p> <h3><u>Depósito ou Transferência para: </u></h3></p>
					<p> Nome: Maristela Trojahn </p>
					<p> Banco: Banco do Brasil </p>
					<p> Agência: </p>
					<p> Conta Corrente: </p>
					<p> CPF: </p>
				</div>
				</div>
			</div>

		</div>
	</div>

	<div class="name_divider">MF</div>

</div>