<div id="content" class="content">
	<div class="pages_title">
		<h2>Maristela e Fábio</h2>
	</div>

	<div class="content">
		<div class="postfull">
            <div id="post-33" class="post-33 page type-page status-publish hentry">
                    <div class="left_full">
                    	<h1>Ela por Ele</h1>
                    	<p>
                    		A Maristela é a alegria e a sabedoria que está sempre do meu lado! Uma leonina, uma guerreira... Supera os obstáculos da vida com muita dedicação!!! Adoro quando estás do meu lado, fico feliz quando tenho o teu sorriso.
                    	</p>
                    	<p>
                   			Lá em 2007, quando nos conhecemos, não poderia imaginar que este dia chegaria. Tu, Maristela, me cativou, me encheu de sorrisos e fez de mim uma pessoa melhor!!! Aprendi e aprendo durante esses 6 anos juntos. Somos apaixonados e eternos amantes!!! Já passeamos em diferentes lugares, conhecemos muitas pessoas neste tempo que estamos juntos e o que mais gosto é de estar contigo, aproveitando os nossos momentos.
							Gosto de usar a expressão "é muito amor", para expressar o quão grande é meu amor por ti!
							Muitos anos se passaram e hoje, 2013, continuo te admirando muito, e adoro estar ao teu lado!!! Te admiro como mulher, como pessoa e tenho muito orgulho de te ter ao meu lado... tu me faz crescer!!! Tu me faz feliz!!! Um dia, quando estivermos bem velinhos, vamos estar sentados em uma cadeira de balanço, olhando pro mar... Neste momento, vou olhar para ti e dizer: "Tudo isso valeu a pena".
						</p>
						<p>
							Maristela, minha linda, T E  A M O 
                    	</p>
					<p></p>
			</div>
			<div id="post-33" class="post-33 page type-page status-publish hentry">
                    <div class="left_full">
                    	<h1>Ele por Ela</h1>
                    		<p>O que falar dessa pessoa maravilhosa e especial que surgiu na minha vida há mais de 6 anos e que, cada dia que passa, me conquista mais e mais? </p>
                    		<p>
								Uma vez me disseram que não tem hora certa para aparecer AQUELA pessoa que vai mudar sua vida completamente. Pois é, foi assim, no momento em que eu menos esperava, você apareceu. Tudo aconteceu de forma muito rápida, intensa. Só sei dizer que ele é incrível, em todos os sentidos! Sua energia e paixão me inspiram de  formas que eu nunca imaginei possíveis...É um homem-menino lindo (por dentro e por fora), sincero, inteligente, carinhoso, alto astral, divertido, compreensivo... Resumindo: Ele é "O CARA"!!
							</p>
							<p>
								Fábio,  
								Você é essencial pra mim e me faz muito feliz...quero te dizer que já não sei mais viver sem tua presença, sem teus beijos, sem teu cheiro, sem teus carinhos, sem teu amor... 
 								Não importa o que aconteça, quero estar sempre ao teu lado. Não importa, o que você faça, quero te ver feliz em todas as estações do ano. Eu amo tudo em você, amo teu tom de voz, amo a maneira que teus olhos piscam, amo teu cheiro, amo a paz que você me dá!
								Você me faz a melhor pessoa que eu poderia querer ser, e eu quero viver, aprender e amar o resto da minha vida com você. Te amo!"
							</p>
					<p></p>
			</div>			
		</div>
			
		<div class="name_divider">MF</div>
	</div>
</div>

   