
<script type="text/javascript">
    $(document).ready(function() {
		$("#menu-item-14 a").click( function() {
            var page_name = $(this).attr('name');
			//alert(page_name);
            get_page(page_name);
      	});
    });
    function get_page(page) {
		var cotas = $("#cotas"+page).val();
		var url = "cotasluademel_email/" + page + "/" + cotas
        $.ajax({    url: "/" + url,
                    cache: false,
                    success: function(html){
                        $("#content").html(html);
                    }
                });
    }
  </script>

<div id="content" class="content">
	<div class="pages_title">
		<h2>Cotas de <span>Lua de Mel</span></h2>
	</div>
	</br></br></br>
	<div></div>
	<div class="widget_area_home_three">     
		</br></br></br>

	<!--opcao 1-->
	<div class="left_full">
		<p><center><h1>Erro Enviando Mensagem</h1></center></p>
		<p> Sua mensagem não foi enviada. Por favor, tente novamente!</p>
		{{ error }}
	</div>

	<div class="name_divider">MF</div>

</div>