	<div class="footer">
		<div class="footer_content">
			<div class="footer_menu">
				<div class="footermenu"><ul id="main_menu_footer" class="main_menu_footer">
					<li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-31"><a href="#" name="home">Home</a></li>
					<li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30"><a href="#" name="grandedia">Sobre o Grande dia</a></li>
					<li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32"><a href="#" name="fotos">Album de Fotos</a></li>
				</ul>
				</div>
			</div>
       		<div class="clear">
       		</div>
       </div>
   </div>
