<script type="text/javascript" src="/static/site2/custom.js"></script>

	<div id="content" class="content">

		<div class="pages_title">
			<h2>Nossas <span>Fotos</span></h2>
		</div>

		<ul class="filter_portfolio">
			<!--
			<li class="segment-1 selected"><a href="javascript:void(0)" data-value="all">Ver todas</a></li>
		-->
			<li class="segment-1"><a href="javascript:void(0)" data-value="noivos">Noivos</a></li>
			<li class="segment-2"><a href="javascript:void(0)" data-value="padrinhos">Padrinhos</a></li>
			<li class="segment-3"><a href="javascript:void(0)" data-value="getting-married">Amigos</a></li>
			<li class="segment-4"><a href="javascript:void(0)" data-value="familia">Familia</a></li>
		</ul>

		<ul class="portfolio_items">



		<div class="topsocials">
			<div class="social_block">

			<!-- Familia INICIO -->

			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia00.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia00_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>


			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia1.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia1_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>

			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia2.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia2_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia3.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia3_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia4.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia4_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia5.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia5_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia6.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia6_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia7.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia7_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia8.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia8_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia9.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia9_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia10.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia10_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia11.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia11_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia12.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia12_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia13.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia13_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia14.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia14_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia15.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia15_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia16.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia16_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia17.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia17_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia18.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia18_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia19.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia19_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia20.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia20_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia21.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia21_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia22.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia22_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia23.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia23_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia24.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia24_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia25.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia25_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia26.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia26_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia27.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia27_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia28.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia28_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia29.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia29_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia30.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia30_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia31.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia31_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia32.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia32_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia33.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia33_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>

			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia34.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia34_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia35.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia35_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia36.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia36_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia37.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia37_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia38.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia38_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia39.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia39_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia40.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia40_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia41.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia41_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia42.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia42_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia43.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia43_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 familia" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/familia/familia44.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/familia/familia44_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>																								
			<!-- Familia FIM -->

			<!-- Noivos INICIO -->
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos46.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos46_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos47.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos47_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos48.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos48_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos42.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos42_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos43.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos43_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos44.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos44_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos45.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos45_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos39.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos39_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos40.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos40_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos41.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos41_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos2.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos2_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos3.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos3_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos4.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos4_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos5.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos5_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos6.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos6_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos7.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos7_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos8.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos8_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos9.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos9_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos10.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos10_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos11.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos11_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos12.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos12_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos13.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos13_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos14.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos14_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos15.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos15_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos16.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos16_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos17.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos17_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos18.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos18_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos19.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos19_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos20.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos20_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos21.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos21_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos22.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos22_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos23.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos23_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos24.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos24_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos25.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos25_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos26.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos26_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos27.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos27_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos28.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos28_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos29.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos29_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos30.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos30_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos31.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos31_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos32.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos32_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos33.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos33_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos34.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos34_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos35.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos35_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos36.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos36_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos37.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos37_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos38.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos38_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 noivos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/noivos/noivos1.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/noivos/noivos1_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>									
			<!-- Noivos FIM -->

			<!-- Padrinhos INICIO -->
			<li class="gallery13 padrinhos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/padrinhos/padrinho1.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/padrinhos/padrinho1_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 padrinhos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/padrinhos/padrinho2.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/padrinhos/padrinho2_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 padrinhos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/padrinhos/padrinho3.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/padrinhos/padrinho3_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 padrinhos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/padrinhos/padrinho4.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/padrinhos/padrinho4_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 padrinhos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/padrinhos/padrinho5.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/padrinhos/padrinho5_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 padrinhos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/padrinhos/padrinho6.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/padrinhos/padrinho6_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 padrinhos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/padrinhos/padrinho7.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/padrinhos/padrinho7_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 padrinhos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/padrinhos/padrinho8.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/padrinhos/padrinho8_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 padrinhos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/padrinhos/padrinho9.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/padrinhos/padrinho9_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
				<li class="gallery13 padrinhos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/padrinhos/padrinho10.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/padrinhos/padrinho10_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			</li>
				<li class="gallery13 padrinhos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/padrinhos/padrinho11.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/padrinhos/padrinho11_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			</li>
				<li class="gallery13 padrinhos" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/padrinhos/padrinho12.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/padrinhos/padrinho12_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>			
			<!-- Padrinhos FIM -->

			<!-- AMIGOS INICIO -->
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo1.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo1_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo2.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo2_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo3.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo3_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo4.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo4_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo5.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo5_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo6.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo6_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo7.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo7_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo8.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo8_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo9.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo9_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo10.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo10_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo11.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo11_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo12.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo12_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo13.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo13_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo14.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo14_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo15.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo15_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo16.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo16_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo17.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo17_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo18.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo18_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo19.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo19_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo20.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo20_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo21.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo21_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo22.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo22_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo23.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo23_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo24.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo24_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo25.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo25_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo26.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo26_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo27.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo27_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo28.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo28_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo29.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo29_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo30.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo30_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo31.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo31_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo32.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo32_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo33.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo33_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo34.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo34_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo35.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo35_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo36.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo36_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo37.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo37_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo38.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo38_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo39.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo39_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo40.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo40_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo41.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo41_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo42.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo42_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo43.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo43_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo44.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo44_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo45.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo45_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo46.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo46_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo47.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo47_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo48.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo48_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo49.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo49_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>

			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo50.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo50_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo51.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo51_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo52.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo52_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo53.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo53_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo54.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo54_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo55.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo55_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo56.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo56_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo57.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo57_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo58.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo58_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo59.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo59_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo60.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo60_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo61.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo61_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo62.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo62_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo63.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo63_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo64.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo64_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>			
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo65.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo65_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>	
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo66.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo66_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>	
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo67.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo67_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo68.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo68_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>
			<li class="gallery13 getting-married" data-id="id-4">
				<img src="/static/site2/gallery_frame.png" alt="" title="" class="frame" border="0">
				<img src="/static/site2/images/amigos/amigo69.jpg" alt="" class="thumb">
				<span class="portfolio_caption">
					<a rel="prettyPhoto[gallery]" href="/static/site2/images/amigos/amigo69_full.jpg" title="">
						<img src="/static/site2/zoom.png" alt="" title="" border="0">
					</a>
				</span>
				<h3></h3>
			</li>			
		</div>
	</div>


			<!-- AMIGOS FIM -->
<!--
			<div class="topsocials">
				<div class="social_block">
					<iframe src="/static/site2/like.html" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
	           	</div>
				<div class="social_block">
					<iframe data-twttr-rendered="true" title="Twitter Tweet Button" style="width: 107px; height: 20px;" class="twitter-share-button twitter-count-horizontal" src="/static/site2/tweet_button.html" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	          	</div>
				<div class="social_block">
					<a data-pin-config="none" data-pin-log="button_pinit" target="_blank" class="PIN_1365905127640_pin_it_button PIN_1365905127640_pin_it_button_inline PIN_1365905127640_pin_it_none" href="http://pinterest.com/pin/create/button/?url=http://famousthemes.com/marriage-wordpress/?portfolio=blessings-of-marriage&amp;media=http://famousthemes.com/marriage-wordpress/wp-content/uploads/2012/05/gallerythumb8.jpg&amp;description=blessings%20of%20marriage">
						<span id="PIN_1365905127640_pin_count_0" class="PIN_1365905127640_hidden"><i></i></span>
					</a>
				</div>
				<a class="hide_socials" href="#">close</a>
	      	</div>

			<div class="topsocials">
				<div class="social_block">
	            	<iframe src="/static/site2/like_002.html" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
				</div>
				<div class="social_block">
	    			<iframe data-twttr-rendered="true" title="Twitter Tweet Button" style="width: 107px; height: 20px;" class="twitter-share-button twitter-count-horizontal" src="/static/site2/tweet_button_002.html" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
	    			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
	           	<div class="social_block">
					<a data-pin-config="none" data-pin-log="button_pinit" target="_blank" class="PIN_1365905127640_pin_it_button PIN_1365905127640_pin_it_button_inline PIN_1365905127640_pin_it_none" href="http://pinterest.com/pin/create/button/?url=http://famousthemes.com/marriage-wordpress/?portfolio=passion-of-her-heart&amp;media=http://famousthemes.com/marriage-wordpress/wp-content/uploads/2012/05/gallerythumb7.jpg&amp;description=passion%20of%20her%20heart">
						<span id="PIN_1365905127640_pin_count_1" class="PIN_1365905127640_hidden"><i></i></span>
					</a>
	         	</div>
				<a class="hide_socials" href="#">close</a>
			</div>

			<div class="topsocials">
				<div class="social_block">
					<iframe src="/static/site2/like_003.html" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
				</div>
				<div class="social_block">
	    			<iframe data-twttr-rendered="true" title="Twitter Tweet Button" style="width: 107px; height: 20px;" class="twitter-share-button twitter-count-horizontal" src="/static/site2/tweet_button_003.html" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
	    			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
				</div>
	         	<div class="social_block">
					<a data-pin-config="none" data-pin-log="button_pinit" target="_blank" class="PIN_1365905127640_pin_it_button PIN_1365905127640_pin_it_button_inline PIN_1365905127640_pin_it_none" href="http://pinterest.com/pin/create/button/?url=http://famousthemes.com/marriage-wordpress/?portfolio=to-weans-and-wife&amp;media=http://famousthemes.com/marriage-wordpress/wp-content/uploads/2012/05/gallerythumb2.jpg&amp;description=To%20weans%20and%20wife">
						<span id="PIN_1365905127640_pin_count_2" class="PIN_1365905127640_hidden"><i></i></span>
					</a>
	          	</div>
	           	<a class="hide_socials" href="#">close</a>
	   		</div>

-->
<!--
			<div class="topsocials">
				<div class="social_block">
					<iframe src="/static/site2/like_004.html" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
				</div>
	          	<div class="social_block">
	    			<iframe data-twttr-rendered="true" title="Twitter Tweet Button" style="width: 107px; height: 20px;" class="twitter-share-button twitter-count-horizontal" src="/static/site2/tweet_button_004.html" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
	    			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	          	</div>
	            <div class="social_block">
					<a data-pin-config="none" data-pin-log="button_pinit" target="_blank" class="PIN_1365905127640_pin_it_button PIN_1365905127640_pin_it_button_inline PIN_1365905127640_pin_it_none" href="http://pinterest.com/pin/create/button/?url=http://famousthemes.com/marriage-wordpress/?portfolio=hand-to-the-cookie-jar&amp;media=http://famousthemes.com/marriage-wordpress/wp-content/uploads/2012/05/gallerythumb6.jpg&amp;description=Hand%20to%20the%20cookie%20jar">
						<span id="PIN_1365905127640_pin_count_3" class="PIN_1365905127640_hidden"><i></i></span>
					</a>
	              	<div>
						<a class="hide_socials" href="#">close</a>
	             	</div>
	              	<div class="topsocials">
						<div class="social_block">
							<iframe src="/static/site2/like_005.html" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
	                   	</div>
						<div class="social_block">
							<iframe data-twttr-rendered="true" title="Twitter Tweet Button" style="width: 107px; height: 20px;" class="twitter-share-button twitter-count-horizontal" src="/static/site2/tweet_button_005.html" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
						<div class="social_block">
	   						<a data-pin-config="none" data-pin-log="button_pinit" target="_blank" class="PIN_1365905127640_pin_it_button PIN_1365905127640_pin_it_button_inline PIN_1365905127640_pin_it_none" href="http://pinterest.com/pin/create/button/?url=http://famousthemes.com/marriage-wordpress/?portfolio=the-harbinger-of-hope&amp;media=http://famousthemes.com/marriage-wordpress/wp-content/uploads/2012/05/gallerythumb5.jpg&amp;description=the%20harbinger%20of%20hope">
								<span id="PIN_1365905127640_pin_count_4" class="PIN_1365905127640_hidden"><i></i></span>
							</a>
						</div>
	  					<a class="hide_socials" href="#">close</a>
					</div>
	  				<div class="topsocials">
						<div class="social_block">
	   						<iframe src="/static/site2/like_006.html" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
						</div>
	 					<div class="social_block">
							<iframe data-twttr-rendered="true" title="Twitter Tweet Button" style="width: 107px; height: 20px;" class="twitter-share-button twitter-count-horizontal" src="/static/site2/tweet_button_006.html" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
						<div class="social_block">
							<a data-pin-config="none" data-pin-log="button_pinit" target="_blank" class="PIN_1365905127640_pin_it_button PIN_1365905127640_pin_it_button_inline PIN_1365905127640_pin_it_none" href="http://pinterest.com/pin/create/button/?url=http://famousthemes.com/marriage-wordpress/?portfolio=foundation-of-happiness-or-misery&amp;media=http://famousthemes.com/marriage-wordpress/wp-content/uploads/2012/05/gallerythumb4.jpg&amp;description=Foundation%20of%20happiness%20or%20misery">
								<span id="PIN_1365905127640_pin_count_5" class="PIN_1365905127640_hidden"><i></i></span>
							</a>
						</div>
						<a class="hide_socials" href="#">close</a>
					</div>
	   				<div class="topsocials">
	   					<div class="social_block">
							<iframe src="/static/site2/like_007.html" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
						</div>
						<div class="social_block">
							<iframe data-twttr-rendered="true" title="Twitter Tweet Button" style="width: 107px; height: 20px;" class="twitter-share-button twitter-count-horizontal" src="/static/site2/tweet_button_007.html" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
						<div class="social_block">
							<a data-pin-config="none" data-pin-log="button_pinit" target="_blank" class="PIN_1365905127640_pin_it_button PIN_1365905127640_pin_it_button_inline PIN_1365905127640_pin_it_none" href="http://pinterest.com/pin/create/button/?url=http://famousthemes.com/marriage-wordpress/?portfolio=your-hands-your-hearts-2&amp;media=http://famousthemes.com/marriage-wordpress/wp-content/uploads/2012/05/gallerythumb1.jpg&amp;description=Your%20hands%20your%20hearts">
								<span id="PIN_1365905127640_pin_count_6" class="PIN_1365905127640_hidden"><i></i></span>
							</a>
						</div>
						<a class="hide_socials" href="#">close</a>
					</div>
					<div class="topsocials">
						<div class="social_block">
							<iframe src="/static/site2/like_008.html" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
						</div>
						<div class="social_block">
							<iframe data-twttr-rendered="true" title="Twitter Tweet Button" style="width: 107px; height: 20px;" class="twitter-share-button twitter-count-horizontal" src="/static/site2/tweet_button_008.html" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
						<div class="social_block">
							<a data-pin-config="none" data-pin-log="button_pinit" target="_blank" class="PIN_1365905127640_pin_it_button PIN_1365905127640_pin_it_button_inline PIN_1365905127640_pin_it_none" href="http://pinterest.com/pin/create/button/?url=http://famousthemes.com/marriage-wordpress/?portfolio=happiness-is-a-way-of-travel-2&amp;media=http://famousthemes.com/marriage-wordpress/wp-content/uploads/2012/05/gallerythumb9.jpg&amp;description=Happiness%20is%20a%20way%20of%20travel">
								<span id="PIN_1365905127640_pin_count_7" class="PIN_1365905127640_hidden"><i></i></span>
							</a>
						</div>
						<a class="hide_socials" href="#">close</a>
					</div>
					<div class="topsocials">
	  					<div class="social_block">
							<iframe src="/static/site2/like_009.html" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
						</div>
						<div class="social_block">
							<iframe data-twttr-rendered="true" title="Twitter Tweet Button" style="width: 107px; height: 20px;" class="twitter-share-button twitter-count-horizontal" src="/static/site2/tweet_button_009.html" allowtransparency="true" frameborder="0" scrolling="no"></iframe>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
						</div>
						<div class="social_block">
							<a data-pin-config="beside" data-pin-log="button_pinit" target="_blank" class="PIN_1365905127640_pin_it_button PIN_1365905127640_pin_it_button_inline PIN_1365905127640_pin_it_beside" href="http://pinterest.com/pin/create/button/?url=http://famousthemes.com/marriage-wordpress/?portfolio=two-hearts-that-beats&amp;media=http://famousthemes.com/marriage-wordpress/wp-content/uploads/2012/05/gallerythumb3.jpg&amp;description=Two%20hearts%20that%20beats"><span id="PIN_1365905127640_pin_count_8" class="PIN_1365905127640_hidden"><i></i></span></a>
						</div>
						<a class="hide_socials" href="#">close</a>
					</div>
				</ul>
			</div>
-->
			<div class="clear"></div>
		</div>
	</div>
</div>