<div id="content" class="content">
	<div class="pages_title">
		<h2>O Grande <span>Dia</span></h2>
	</div>

	<div class="left_full">
		</br></br></br></br></br></br></br></br>
		<p>Vamos nos casar no dia <strong>19 de outubro de 2013 às 19:45 horas.</strong></p>
	</div>

	<div class="left12">
		<div class="widget_post1">
			<h3> <a href="http://pt.wikipedia.org/wiki/Catedral_de_S%C3%A3o_Jo%C3%A3o_Batista" target="_blank" rel="bookmark" title=""> Igreja São João Batista </a> </h3>
			<p>
				<p>Rua Ramiro Barcelos</p>
				<p>Santa Cruz do Sul</p>
				<p>Tel.: (51) 3711-3622</p>
				&nbsp;
			</p>
		</div>
		<p>
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Catedral+S%C3%A3o+Jo%C3%A3o+Batista+-+Rua+Ramiro+Barcelos,+Santa+Cruz+do+Sul,+Brazil&amp;aq=0&amp;oq=catedral+sao+joao+batista,+santa+cruz+do+sul&amp;sll=37.0625,-95.677068&amp;sspn=35.219929,79.013672&amp;t=m&amp;ie=UTF8&amp;hq=Catedral+S%C3%A3o+Jo%C3%A3o+Batista+-&amp;hnear=R.+Ramiro+Barcelos+-+Santa+Cruz+do+Sul+-+Rio+Grande+do+Sul,+Brazil&amp;ll=-29.718785,-52.427014&amp;spn=0.006295,0.006295&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Catedral+S%C3%A3o+Jo%C3%A3o+Batista+-+Rua+Ramiro+Barcelos,+Santa+Cruz+do+Sul,+Brazil&amp;aq=0&amp;oq=catedral+sao+joao+batista,+santa+cruz+do+sul&amp;sll=37.0625,-95.677068&amp;sspn=35.219929,79.013672&amp;t=m&amp;ie=UTF8&amp;hq=Catedral+S%C3%A3o+Jo%C3%A3o+Batista+-&amp;hnear=R.+Ramiro+Barcelos+-+Santa+Cruz+do+Sul+-+Rio+Grande+do+Sul,+Brazil&amp;ll=-29.718785,-52.427014&amp;spn=0.006295,0.006295" style="color:#0000FF;text-align:left">View Larger Map</a></small>
		</p>
	</div>

	<div class="left12">
		<div class="widget_post2">
			<h3> <a href="http://www.santacruzcountryclub.com.br" target="_blank" rel="bookmark" title=""> Santa Cruz Country Club </a> </h3>
			<p>
				<p>Av. Leo Kraether, 2227</p>
				<p>Santa Cruz do Sul</p>
				<p>Tel.: (51) 3711-3362</p>
				&nbsp;
			</p>
			<p>
				<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=santa+cruz+country+club,+Santa+Cruz+do+Sul,+Brazil&amp;aq=&amp;sll=-29.718785,-52.427014&amp;sspn=0.009429,0.01929&amp;ie=UTF8&amp;hq=santa+cruz+country+club,&amp;hnear=Santa+Cruz+do+Sul+-+Rio+Grande+do+Sul,+Brazil&amp;ll=-29.708683,-52.396716&amp;spn=0.033679,0.086522&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=santa+cruz+country+club,+Santa+Cruz+do+Sul,+Brazil&amp;aq=&amp;sll=-29.718785,-52.427014&amp;sspn=0.009429,0.01929&amp;ie=UTF8&amp;hq=santa+cruz+country+club,&amp;hnear=Santa+Cruz+do+Sul+-+Rio+Grande+do+Sul,+Brazil&amp;ll=-29.708683,-52.396716&amp;spn=0.033679,0.086522&amp;t=m" style="color:#0000FF;text-align:left">View Larger Map</a></small>
			</p>			
		</div>
	</div>

	<div class="name_divider">MF</div>

</div>

   