	<div id="shadow_bg">
		<div id="main_container">
			<a class="show_menu" href="#">menu</a>
    		<a class="hide_menu" href="#">close menu</a>
    	<div class="menu">                                                                   
		<div class="menucontainer">
			<ul id="main_menu" class="main_menu">
				<li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-14"><a href="#" name="home">Home</a></li>
				<li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="#" name="grandedia">Sobre o Grande Dia</a></li>
				<li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-55 current_page_item menu-item-57"><a href="#" name="fotos">Album de Fotos</a></li>				
				<li id="menu-item-15" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27"><a href="#" name="hoteis">Sugestões</a>
					<ul class="sub-menu">
						<li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-35"><a href="#" name="hoteis">Hotéis</a></li>
						<li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-108"><a href="#" name="salaodebeleza">Salão de Beleza</a></li>
					</ul>
				</li>
				<li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="#" name="cotasluademel">Cotas Lua de Mel</a></li>
				<li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26"><a href="http://ludikascs.com.br/pages/confirmacoes.aspx" class="section_more" target="_blank">Presença</a></li>
				<li id="menu-item-14" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-28"><a href="#" name="singleladies">Single Ladies</a></li>
			</ul>
		</div>
	</div>