<div id="content" class="content">
	<div class="pages_title">
		<h2>Sugestões de <span>Hotéis</span></h2>
	</div>

        <div class="left13 fdivider"> 

			<div class="widget-categories">

				<div class="widget_post">
					<h3><a href="http://www.charruahotel.com.br/" target="_blank" rel="bookmark" title="">Charrua Hotel</a></h3>
					<p>&nbsp;
						<p>Marechal Floriano, 230</p>
						<p>	(51) 3715-6533</p>
					</p>
				</div>

				<div class="widget_post">
					<h3><a href="http://www.hotelaguasclaras.com.br/" target="_blank" rel="bookmark" title="">Hotel Águas Claras</a></h3>
					<p>&nbsp;
						<p>Cap. Pedro Werlang, 420</p>
						<p>(51) 3713-3144</p>
					</p>
				</div>

				<div class="widget_post">
					<h3><a href="http://www.aquariusflat.com.br/" target="_blank" rel="bookmark" title="">Aquarius Flat Residence</a></h3>
					<p>&nbsp;
						<p>Av. João Pessoa, 144</p>
						<p>(51) 2106-9933</p>
					</p>
				</div>

				<div class="widget_post">
					<h3><a href="http://www.soderhotel.com.br/" target="_blank" rel="bookmark" title="">Soder Hotel</a></h3>
					<p>&nbsp;
						<p>Marechal Floriano, 019</p>
						<p>(51) 3715-1862</p>
					</p>
				</div>

				<div class="widget_post">
					<h3><a href="http://www.vilaflorhotel.com.br/" target="_blank" rel="bookmark" title="">Vila Flor Hotel</a></h3>
					<p>&nbsp;
						<p>Felipe Jacobus Filho, 4</p>
						<p>(51) 3711-9111</p>
					</p>
				</div>

				<div class="widget_post">
					<h3><a href="http://www.hotelantonios.com.br/" target="_blank" rel="bookmark" title="">Antonio’s Hotel</a></h3>
					<p>&nbsp;
						<p>Senador P. Machado, 998</p>
						<p>(51) 3713-1909</p>
					</p>
				</div>

				<div class="widget_post">
					<h3><a href="http://www.cithoshotel.com.br/" target="_blank" rel="bookmark" title="">Cithos Hotel</a></h3>
					<p>&nbsp;
						<p>Fernando Abott, 77</p>
						<p>(51) 3713-1044</p>
					</p>
				</div>

				<div class="widget_post">
					<h3><a href="http://www.tobaccoshotel.com.br/" target="_blank" rel="bookmark" title="">Tabaccos Palace Hotel</a></h3>
					<p>&nbsp;
						<p>Trav. Érico Veríssimo, 430</p>
						<p>(51) 3715-6633</p>
					</p>
				</div>

			</div>
		</div>		
	
	<div class="name_divider">MF</div>

</div>

   