<div id="content" class="content">
	<div class="pages_title">
		<h2>Sugestões de <span>Salão de Beleza</span></h2>
	</div>

        <div class="left13 fdivider"> 

			<div class="widget-categories">

				<div class="widget_post">
					<h3>Tânia Coiffeur</h3>
					<p>&nbsp;
						<p>Avenida Senador Alberto Pasqualine, 364</p>
						<p>Tel.: (51) 3715-8053</p>
					</p>
				</div>

				<div class="widget_post">
					<h3>Nilson Cabeleireiro</h3>
					<p>&nbsp;
						<p>Rua Venâncio Aires, 132</p>
						<p>Tel.: (51) 9838-0880</p>
					</p>
				</div>				

				<div class="widget_post">
					<h3>Rose Cabeleireira</h3>
					<p>&nbsp;
						<p>Rua Thomaz Flores, 1049</p>
						<p>Tel.: (51) 3715-3303</p>
					</p>
				</div>

				<div class="widget_post">
					<h3>Vania Capellari</h3>
					<p>&nbsp;
						<p>Rua Presidente Afonso Pena, 863</p>
						<p>Tel.: (51) 3715-8854</p>
					</p>
				</div>

				<div class="widget_post">
					<h3>Iria Cabeleireira</h3>
					<p>&nbsp;
						<p>Rua Ernesto Alves, 400</p>
						<p>Tel.: (51) 3715-1828</p>
					</p>
				</div>

				<div class="widget_post">
					<h3>Rogério dos Santos</h3>
					<p>&nbsp;
						<p>Rua Marechal Floriano Peixoto, 581 – s.301</p>
						<p>Tel.: (51) 3715-8303</p>
					</p>
				</div>				
				
				<div class="widget_post">
					<h3>Rosita Cabeleireira</h3>
					<p>&nbsp;
						<p>Rua Assis Brasil, 631</p>
						<p>Tel.: (51) 3713-1948</p>
					</p>
				</div>
				
				<div class="widget_post">
					<h3>Centro de Beleza Mais Bonita</h3>
					<p>&nbsp;
						<p>Rua Carlos Trein Filho, 600</p>
						<p>Tel.: (51) 3711-1404</p>
					</p>
				</div>
				
				<div class="widget_post">
					<h3>Benicia La Actuele Beleza</h3>
					<p>&nbsp;
						<p>Rua Ramiro Barcelos, 435</p>
						<p>Tel.: (51) 3715-1547</p>
					</p>
				</div>												
				
				<div class="widget_post">
					<h3>Jairo Hair Cabeleireiros</h3>
					<p>&nbsp;
						<p>Rua Emilio Rabenschlag, 175</p>
						<p>Tel.: (51) 3715-1861</p>
					</p>
				</div>				
				
			</div>
		</div>		
	<div class="name_divider">MF</div>
</div>

   