<div id="content" class="content">
	<div class="pages_title">
		<h2>Save <span>the Date</span></h2>
	</div>

		<div class="left23">
			<div class="post">
				<div id="post-17" class="post-17 page type-page status-publish hentry">
					<div class="pageentry">
						</br>
							<img src="/static/site2/images/home/savethedate.png" alt="" class="post_thumb_small">
						</br>
					</div>
				</div>
			</div>
		</div>

	<div class="name_divider">MF</div>

</div>

