<div id="content" class="content">
	<div class="pages_title">
		<h2>Single <span>Ladies</span></h2>
	</div>

		<div class="left23">
			<div class="post">
				<div id="post-17" class="post-17 page type-page status-publish hentry">
					<div class="pageentry">
						</br>
						<p> Solteiras de plantão!! </p>
						</br>
						<p>	Recomendo ir ao casamento preparadas, afinal, pegar o buquê não é uma tarefa fácil, mas é divertida.  </p>
						<p>	Além de ser divertidíssimo é uma lembrança para ser guardada.</p>
						<p>	Mas se você não conseguir pegar o Buquê, ainda há uma esperança!!!</p>
						<p>	Farei uma lista das amigas solteiras e colar na barra do vestido de noiva. Segundo a lenda, essas "gurias" que tiverem seus nomes no vestido também se casarão em breve!</p>
						<p>	As interessadas, favor enviar um email para mim... </p>
						<p>	maristelatrojahn@gmail.com </p>
						</br></br>
						
						
						<!--
						<p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor <strong>exercitationem</strong> ut labore et dolore magna aliqua. Ut e ut aliquid ex ut aliquid ex nim ad <strong>
							<a href="#">ullam</a>
							</strong> quis nostrud exercitation ullamco laboris nisi <strong>
							<a href="#">consequatur</a>
							</strong> ut aliquip ex ea commodo consequat.</p>
							<h3>List style ul</h3>

							<ul>
								<li>quis nostrud exercitation</li>
								<li><a href="http://famousthemes.com/">quis nostrud exercitation</a></li>
								<li>quis nostrud exercitation</li>
							</ul>
							<p>Ut enim ad minima veniam, quis nostru <strong>exercitationem</strong> ullam corporis laboriosam, nisi ut aliquid ex ea commodi <strong><a href="#">consequatur</a></strong></p>

							<div class="contact_info"><h3>Wedding Video</h3><div class="icon"><a href="http://famousthemes.com/marriage-wordpress/?page_id=106" title="Wedding Video"><img src="Our%20Wedding%20%C2%AB%20Marriage_files/icon_video.png" alt="" title="" border="0"></a></div><p>Dullamco nisi <strong><a href="http://famousthemes.com/marriage/page.html#">consequatur</a></strong> ut aliquiut ex ut s nostrud exercitation ullam ex nim a</p></div>
							<div class="contact_info"><h3>Phone Reservation</h3><div class="icon"><a href="tel:456%20789" title="Phone Reservation"><img src="Our%20Wedding%20%C2%AB%20Marriage_files/icon_phone.png" alt="" title="" border="0"></a></div><p>Dullamco nisi <strong><a href="http://famousthemes.com/marriage/page.html#">consequatur</a></strong> ut aliquiut ex ut s nostrud exercitation ullam ex nim a</p></div>
							<div class="contact_info"><h3>Ceremony Location</h3><div class="icon"><a href="http://famousthemes.com/marriage/contact.html" title="Ceremony Location"><img src="Our%20Wedding%20%C2%AB%20Marriage_files/icon_home.png" alt="" title="" border="0"></a></div><p>Dullamco nisi <strong><a href="http://famousthemes.com/marriage/page.html#">consequatur</a></strong> ut aliquiut ex ut s nostrud exercitation ullam ex nim a</p></div>
							<div class="contact_info"><h3>Guests Reservation</h3><div class="icon"><a href="http://famousthemes.com/marriage/contact.html" title="Guests Reservation"><img src="Our%20Wedding%20%C2%AB%20Marriage_files/icon_clients.png" alt="" title="" border="0"></a></div><p>Dullamco nisi <strong><a href="http://famousthemes.com/marriage/page.html#">consequatur</a></strong> ut aliquiut ex ut s nostrud exercitation ullam ex nim a</p></div>
						-->

					</div>
				</div>
			</div>
		</div>

	<div class="name_divider">MF</div>

</div>

